/* IMPORTANT MESSAGE FOR WEBSITE USER */
/* IMPORTANT MESSAGE FOR WEBSITE USER */
/* IMPORTANT MESSAGE FOR WEBSITE USER */

/* THIS SOURCE CODE ONLY APPLIES TO THE RESUME PAGE OF THE WEBSITE */
/* TO VIEW THE SOURCE CODE FROM A DIFFERENT PAGE, NAVIGATE TO THAT */
/* PAGE AND SELECT AND SELECT THE DESIRED FILE FROM 'VIEW SOURCE CODE' */

body {
  padding: 0;
  margin: 0;
}
h1 {
  color: white;
  font-size: 2.5em;
}
a:link {
  color: rgb(40,40,40);
  text-decoration: none;
}
a:visited {
  color: rgb(40,40,40);
  text-decoration: none;
}
header {
  width: 100vw;
  background-color: rgb(40,40,40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
iframe {
  width: 55vw;
  min-width: 480px;
}
footer {
  bottom: 0;
  left: 0;
  position: sticky;
  width: 100vw;
  background-color: rgb(40,40,40);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.bl {
  position: absolute;
  top: 4.4em;
  display: none;
  height: 5em;
  width: 9em;
  border: solid;
  border-width: 0.15em;
  border-color: rgb(40,40,40);
  border-radius: 1em;
  background-color: white;
  z-index: 1;
  padding-top: .5em;
  padding-bottom: .5em;
}
.select:hover .bl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.btn-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10.5em;
  height: inherit;
  position: absolute;
  right: 0px;
}
.btn {
  width: 7.3em;
  height: 0px;
  border: solid;
  font-size: 1.5;
  border-width: 1em;
  border-color: white;
  border-radius: 10px;
  color:rgb(40,40,40);
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}
.main-container {
  width: 55vw;
  min-width: 480px;
  height: auto;
  z-index: 3;
}
#spacer {
  color: white;
  font-size: .5em;
}
#discription {
  color: black;
}
#footer-text {
  color: white;
}
#btn1 {
  margin-bottom: .2em;
}
#btn2 {
  margin-top: .2em;
  z-index: 3;
}


@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 7em;
  }
  footer {
    font-size: 2.5em;
  }
  iframe {
    width: 80vw;
    min-width: 380px;
  }
  .select:hover .bl{
    display: none;
  }
  .btn-contianer {
    position: relative;
    font-size: 2.5em;
    padding-bottom: .5em;
    bottom: 1em;
    right: 0px;
  }
  .main-container {
    width: 80vw;
    min-width: 380px;
    height: auto;
    z-index: 3;
  }
  .btn {
    border-radius: .7em;
  }
  #spacer {
    font-size: 6em;
  }
  #discription {
    font-size: 2em;
  }
  #btn1 {
    margin-bottom: 4px;
  }
  #btn2 {
    margin-top: 4px;
  }
}
