/* IMPORTANT MESSAGE FOR WEBSITE USER */
/* IMPORTANT MESSAGE FOR WEBSITE USER */
/* IMPORTANT MESSAGE FOR WEBSITE USER */

/* THIS SOURCE CODE ONLY APPLIES TO THE MENU PAGE OF THE WEBSITE */
/* TO VEIW THE SOURCE CODE FROM A DIFFERENT PAGE, NAVIGATE TO THAT */
/* PAGE AND SELECT AND SELECT THE DESIRED FILE FROM 'VEIW SOURCE CODE' */

html {
  font-size: 88%;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40,40,40);
}
a:link {
  color: rgb(40,40,40);
  text-decoration: none;
}
a:visited {
  color: rgb(40,40,40);
  text-decoration: none;
}
.container {
  width: 14.625em;
  height: 14.625em;
  position: absolute;
}
.box {
  width: 14em;
  height: 14em;
  border: solid;
  border-width: .3125em;
  position: absolute;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
#b1 {
  animation-name: a1;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
  background-color: rgb(40,40,40);
  transform: rotate(30deg);
}
#b2 {
  animation-name: a2;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
  transform: rotate(60deg);
}
#b3 {
  animation-name: a3;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
  transform: rotate(90deg);
}
#b4 {
  animation-name: a4;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
  transform: rotate(120deg);
}
#b5 {
  animation-name: a5;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
  transform: rotate(150deg);
}
#b6 {
  animation-name: a6;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
  transform: rotate(180deg);
  /* background-color: red; */
}

.btn {
  width: 7.3em;
  height: 0px;
  border: solid;
  font-size: 1em;
  border-width: 1em;
  border-color: white;
  border-radius: 10px;
  color:rgb(40,40,40);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
#homeButton {
  /* visibility: collapse; */
  border-width: 1.5em;
  animation-name: homeAnimation;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
}
#mobile-menu {
  display: none;
}
#menuOptions {
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 0px;
  height: 0px;
  background-color: rgb(40,40,40);
  /* visibility: collapse; */
  animation-name: displayMenu;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
}
#sourceCode {
  border-width: 1.5em;
}
#sourceButton {
  height: 0;
  visibility: collapse;
  animation-name: sourceAnimation;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
}
.bl {
  position: absolute;
  /* top: 4.4em; */
  display: none;
  height: 5em;
  width: 10.15em;
  border: solid;
  border-width: 0.15em;
  border-color: rgb(40,40,40);
  border-radius: 1em;
  background-color: white;
  z-index: 1;
  padding-top: .5em;
  padding-bottom: .5em;
}
.select:hover, .select:active .bl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@keyframes sourceAnimation {
  0% {
    height: 0;
    visibility: collapse;
  }
  58% {
    height: 0;
    visibility: collapse;
  }
  59% {
    height: auto;
    visibility: visible;
  }
  100% {
    height: auto;
    visibility: visible;
  }
}
@keyframes displayMenu {
  0% {
    visibility: collapse;
    width: 0px;
    height: 0px;
  }
  45% {
    visibility: collapse;
    width: 0px;
    height: 0px;
  }
  70% {
    visibility: visible;
    width: 9em;
    height: 9em;
  }
  100% {
    visibility: visible;
    width: 9em;
    height: 9em;
  }
}
@keyframes homeAnimation {
  0% {
    visibility: collapse;
  }
  58% {
    visibility: collapse;
  }
  59% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
/* #menuOptions {
  display: none;
} */
@keyframes a1 {
  0% {
    left: 0px;
    width: 14em;

  }
  30% {
    left: 6.3em;
    width: 1.4em;
    border-radius: 0%;
  }
  55% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    /* z-index: 0; */
  }
  56% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    /* z-index: 2; */
  }
  100% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    /* z-index: 2; */
  }
}
@keyframes a2 {
  0% {
    left: 0px;
    width: 14em;
  }
  30% {
    left: 6.3em;
    width: 1.4em;
    border-radius: 0%;
  }
  55% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
  }
  100% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
  }
}
@keyframes a3 {
  0% {
    left: 0px;
    width: 14em;
  }
  30% {
    left: 6.3em;
    width: 1.4em;
    border-radius: 0%;
  }
  55% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
  }
  100% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
  }
}
@keyframes a4 {
  0% {
    left: 0px;
    width: 14em;
    transform: rotate(120deg);
  }
  30% {
    left: 6.3em;
    width: 1.4em;
    border-radius: 0%;
    transform: rotate(120deg);
  }
  55% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    transform: rotate(120deg);
  }
  100% {
    left: -16.5em;
    width: 14em;
    border-radius: 50%;
    transform: rotate(0deg);
  }
}
@keyframes a5 {
  0% {
    left: 0px;
    width: 14em;
    transform: rotate(150deg);
  }
  30% {
    left: 6.3em;
    width: 1.4em;
    border-radius: 0%;
  }
  55% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    transform: rotate(150deg);
  }
  56% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    transform: rotate(-120deg);
    /* background-color: rgb(40,40,40); */
  }
  100% {
    left: 16.5em;
    width: 14em;
    border-radius: 50%;
    transform: rotate(0deg);
    /* background-color: rgb(40,40,40); */
  }
}
@keyframes a6 {
  0% {
    left: 0px;
    width: 14em;
    background-color: transparent;
    /* z-index: 1; */
  }
  30% {
    left: 6.3em;
    width: 1.4em;
    border-radius: 0%;
    background-color: transparent;
    /* z-index: 1; */
  }
  56% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    background-color: transparent;
    /* z-index: 1; */
    /* transform: rotate(180deg); */
  }
  57% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    background-color: rgb(40,40,40);
    /* z-index: 2; */
    /* transform: rotate(0deg); */
  }
  100% {
    left: 0px;
    width: 14em;
    border-radius: 50%;
    background-color: rgb(40,40,40);
    /* z-index: 2; */
    /* transform: rotate(0deg); */
  }
}
/* max-device-width: 480px */
@media only screen and (max-device-width: 600px) {
  /* #menuOptions {
    z-index: 1000;
  } */
  .select:active .bl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    width: 35em;
    height: 35em;
    position: absolute;
  }
  .box {
    width: 35em;
    height: 35em;
    border: solid;
    border-width: .3125em;
    position: absolute;
    border-color: white;
  }
  #sourceButton {
    display: none;
  }
  #homeButton {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
  #sourceCode {
    border-width: 1em;
  }
  .bl {
    position: absolute;
    bottom: -11.3em;
    display: none;
    height: 10em;
    width: 18.35em;
    border: solid;
    border-width: 0.15em;
    border-color: rgb(40,40,40);
    border-radius: 1em;
    background-color: white;
    z-index: 1;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  #white-link {
    font-size: 2em;
  }
  @keyframes displayMenu {
    0% {
      visibility: collapse;
      width: 0px;
      height: 0px;
    }
    48% {
      visibility: collapse;
      width: 0px;
      height: 0px;
    }
    70% {
      visibility: visible;
      width: 20em;
      height: 20em;
    }
    100% {
      visibility: visible;
      width: 20em;
      height: 20em;
    }
  }
  .btn {
    width: 7.3em;
    height: 0px;
    border: solid;
    font-size: 2em;
    border-width: 1em;
    border-color: white;
    border-radius: 20px;
    color:rgb(40,40,40);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #b1 {
    background-color: transparent;
  }
  @keyframes a1 {
    0% {
      left: 0px;
      width: 35em;
    }
    30% {
      left: 15.75em;
      width: 3.5em;
      border-radius: 0%;
    }
    55% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
      z-index: 0;
    }
    56% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
      /* z-index: 101; */
    }
    100% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
      /* z-index: 101; */
    }
  }
  @keyframes a2 {
    0% {
      left: 0px;
      width: 35em;
    }
    30% {
      left: 15.75em;
      width: 3.5em;
      border-radius: 0%;
    }
    55% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
    }
    100% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
    }
  }
  @keyframes a3 {
    0% {
      left: 0px;
      width: 35em;
    }
    30% {
      left: 15.75em;
      width: 3.5em;
      border-radius: 0%;
    }
    55% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
    }
    100% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
    }
  }
  @keyframes a4 {
    0% {
      left: 0px;
      width: 35em;
    }
    30% {
      left: 15.75em;
      width: 3.5em;
      border-radius: 0%;
    }
    55% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
    }
    100% {
      left: 0em;
      width: 35em;
      border-radius: 50%;
    }
  }
  @keyframes a5 {
    0% {
      left: 0px;
      width: 35em;
    }
    30% {
      left: 15.75em;
      width: 3.5em;
      border-radius: 0%;
    }
    55% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
    }
    100% {
      left: 0em;
      width: 35em;
      border-radius: 50%;
    }
  }
  @keyframes a6 {
    0% {
      left: 0px;
      width: 35em;
      background-color: transparent;
    }
    30% {
      left: 15.75em;
      width: 3.5em;
      border-radius: 0%;
    }
    55% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
    }
    100% {
      left: 0px;
      width: 35em;
      border-radius: 50%;
      background-color: transparent;
    }
  }
}
